pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
langchain
langgraph
langchain-community
langchain-aws
langchain-core
langsmith
faiss-cpu
sentence-transformers
transformers
spacy
nltk
boto3
python-dotenv
langfuse
beautifulsoup4
requests
pyyaml
pypdf
langchain-huggingface
langchain-text-splitters